{% extends 'base.html' %}

{% block more_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_news.css') }}">
{% endblock %}

{% block more_js %}
<script src="https://code.berylia.org/jquery/v3.7.1/js/jquery-3.7.1.min.js"></script>
{% endblock %}

{% block add_title %}
{% include 'title.html' %}
{% endblock %}

{% block content %}
<div class="admin-container">
    <h1>Admin - List of news</h1>
    {% if stories.items %}
    <ul class="admin-news-list">
        {% for story in stories.items %}
        <li class="admin-news-item">
            <div class="news-info">
                <h2>{{ story.title | safe }}</h2>
                <p>{{ story.short_description|truncate(150) }}</p>
                <p class="news-date">{{ story.submission_date }} </p>
            </div>
            <div class="news-actions">
                <a href="{{ url_for('main.view_story', filename=story.filename) }}" class="btn-view">View</a>
                <form action="{{ url_for('admin.delete_news_story') }}" method="post" style="display: inline;">
                    <input type="hidden" name="story_id" value="{{ story.id }}">
                    <button type="submit" class="btn-delete">Delete</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if stories.has_prev %}
        <a href="{{ url_for('admin.view_news', page=stories.prev_num) }}">Previous Page</a>
        {% endif %}
        {% if stories.has_next %}
        <a href="{{ url_for('admin.view_news', page=stories.next_num) }}">Next Page</a>
        {% endif %}
    </div>
    {% else %}
    <p>There are no news available.</p>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='js/view_news.js') }}"></script>
{% endblock %}